<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>===> Слайдер <===</p>
    <table border="0"><tr>
    <td valign="center"><img src="/Static/IMG/slider/left.png" height="32" onclick="slider_left(); clearInterval(slider_timer);"></td>
    <td valign="center"><img src="/" id="slider" height="256" onclick="slider_right();"></td>
    <td valign="center"><img src="/Static/IMG/slider/right.png" height="32" onclick="slider_right(); clearInterval(slider_timer);"></td>
    </tr></table>
    <script>
        const img = ["/Static/IMG/slider/london.jpg", "/Static/IMG/slider/ny.jpg", "/Static/IMG/slider/spb.jpg"];
        let i = 0;
        document.getElementById("slider").src = img[i];
        function slider_left() {
            i = i - 1;
            if (i < 0) { i = 2; }
            document.getElementById("slider").src = img[i];
        }
        function slider_right() {
            i = i + 1;
            if (i > 2) { i = 0 }
            document.getElementById("slider").src = img[i];
        }
        let slider_timer = setInterval(() => { slider_right(); }, 5000);

    </script>
</body>
</html>